.helpful-products-container a{
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
}


.helpful-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}


.helpful-product {
    transition: all .3s cubic-bezier(.23, 1, .32, 1);
    padding: 24px 24px 16px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: 100%;
    
    h5{
        color: #000000DE;
        font-size: 24px;
        margin: 0 0 24px;
    }

    p{
        color: #00000099;
        font-size: 15px;
    }    
}

.helpful-product p {
    color: rgba(0, 0, 0, .6)
}

.helpful-product:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .07), 0 0 10px rgba(0, 0, 0, .03)
}