@media (max-width:768.98px) {
    .helpful-products-container {
        flex-wrap: nowrap
    }
}

@media (max-width:991.98px) {
    .helpful-product {
        padding-right: 24px !important;
        background-image: none !important
    }
}

@media (max-width:768.98px) {
    .helpful-product {
        min-width: 311px;
        flex: auto !important;
        margin-right: 24px;
        margin-bottom: 0 !important
    }

    .helpful-product:last-child {
        margin-right: 0
    }
}

@media (max-width:575.98px) {
    .helpful-product {
        margin-right: 16px
    }
}