.helpful-product:nth-child(1) {
    margin-bottom: 24px;
    width: calc(50% - 12px);
    background-color: #e7f4f9;
    background-image: url(../images/main-sections/pos-terminal.png);
    padding-right: 280px
}

.helpful-product:nth-child(2) {
    margin-bottom: 24px;
    width: calc(50% - 12px);
    background-color: #ffebf0;
    background-image: url(../images/main-sections/business-cards.png);
    padding-right: 280px
}

.helpful-product:nth-child(3) {
    width: calc(33.33333% - 16px);
    background-color: #fdf6e7;
    background-image: url(../images/main-sections/factoring.png);
    padding-right: 150px
}

.helpful-product:nth-child(4) {
    width: calc(33.33333% - 16px);
    background-color: #e0f3ed;
    background-image: url(../images/main-sections/e-commerce.png);
    padding-right: 150px;
    background-position: 100% 100%
}

.helpful-product:nth-child(5) {
    width: calc(33.33333% - 16px);
    background-color: #f4f5f4;
    background-image: url(../images/main-sections/bank-guarantee.png);
    padding-right: 150px
}