@import './helpful-product-items';
@import './helpful-products-container';
@import './helpful-media';

#helpful-products{
    margin-top: 76px;
}

#helpful-products{
    .container{
        h2{
            font-weight: normal;
            margin-bottom: 48px;
        } 
    }
}