@media (max-width: 1199.98px) {
    #stages-section {
        margin-top: 40px
    }
}

@media (max-width:1199.98px) {
    .stages {
        margin-top: 24px;
        padding-bottom: 24px;
        overflow-x: scroll;
        overflow-y: hidden
    }

    .stage {
        flex: 0 0 auto;
        width: 35vw;
        margin-top: 24px
    }
}

@media (max-width:991.98px) {
    .stage {
        width: 40vw
    }
}

@media (max-width:768.98px) {
    .stage {
        width: 50vw
    }
}

@media (max-width:575.98px) {
    .stage {
        width: 70vw
    }
}