*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import '../scss/header/header';
@import '../scss/main-scss/slider-section/slider';
@import '../scss/main-scss/solve-business-section/solve-business';
@import '../scss/main-scss/helpful-products/helpful-products';
@import '../scss/main-scss/website-profits/website-profits';
@import '../scss/main-scss/subscription/subscription';
@import '../scss/main-scss/mobile-bank/mobile-bank';
@import '../scss/main-scss/currency-section/currency';
@import './footer/footer';
@import './modal-main';


@import './bank-account-scss/bank-account';
@import './online-business-credits';
@import './salary-project/salary-project';

