#business-slide {
    background-color: #f1f9f7;
    background-position: 100% 100%;
}

.slide-item .container {
    padding-top: 104px;
    padding-bottom: 52px;
    background-position: right -40px bottom;
    background-size: contain
}

@media only screen and (max-width:767px) {
    .slide-item .container {
        background-image: none;
        padding-top: 40px;
        padding-bottom: 40px
    }

    .slide-item .container a {
        margin-top: 0
    }

    .slide-item .slide-image img{
        display: none;
    }
}

@media only screen and (max-width:767px) {
    .slide-item h1 {
        margin-bottom: 12px
    }

    .slide-item p {
        margin-bottom: 34px
    }

    .slide-item .mobile-center {
        margin-top: 24px
    }
}