.online-benefit-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    i{
        font-size: 30px;
        margin-bottom: 30px;
        margin-left: 10px;
    }
}

@media only screen and (max-width:767px) {
    .online-benefit-item {
        flex-direction: row;
        margin-bottom: 24px;
        i{
            font-size: 15px;
        }
    }

    .benefit-item-content {
        width: calc(100% - 64px)
    }
}

@media only screen and (max-width:767px) {
    #online-business-benefits {
        margin-top: 40px;
        padding-bottom: 16px
    }

    #online-business-benefits h4 {
        margin-bottom: 24px
    }
}