.social-media-links {
    width: 141px
}

.social-media-links p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, .87)
}

.social-media-links span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .25px;
    color: rgba(0, 0, 0, .6)
}