.conditions-tab-content-row {
    padding: 16px 0;
    border: solid #edefed;
    border-width: 0 0 1px
}

.conditions-tab-content-row-title {
    color: rgba(0, 0, 0, .87);
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .15px;
    font-weight: 500
}


.conditions-tab-content__row__description {
    color: rgba(0, 0, 0, .87);
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .15px;
    font-weight: 500
}