#website-profits{
    margin-top: 112px;
    min-height: 653px;
    background: url(../images/main-sections/online-bank.png);
    background-size: 739px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    h5{
        font-size: 24px;
        color: #000000DE;
        margin: 0 0 8px;
    }
}

@media (max-width:768.98px) {
    #website-profits {
        margin-top: 40px
    }
}

@media (max-width:768.98px) {
    #website-profits {
        background: none;
        min-height: auto
    }
}