@media (max-width:768.98px) {
    .header-section {
        padding: 10px 16px;
        justify-content: space-between
    }
}

@media (max-width:768.98px) {
    .header-menu .menu-dropdown {
        border-top: none
    }

    .header-menu {
        flex-wrap: no-wrap;
    }
}

@media (max-width:768.98px) {
    .header-menu .menu-dropdown-container {
        margin: 0;
        border-bottom: none
    }
}

@media (min-width:576px) and (max-width:1199.98px) {
    .header-menu .menu-dropdown-container {
        padding: 0 30px
    }
}

@media (max-width:768.98px) {
    .for-more {
        display: block;
    }

    .header-menu li {
        display: none;
    }

    .header-menu {
        // display: none;
        position: absolute;
        top: 0;
        z-index: -1;
        background: #fff;
        width: 100%;
        left: 0
    }

    .header-menu .nav-item .nav-item-link {
        padding: 14px 16px;
        color: rgba(0, 0, 0, .87);
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .25px
    }

    .header-menu .nav-item .menu-dropdown {
        position: relative;
        padding: 0;
        visibility: visible;
        opacity: 1;
        display: none
    }

    .header-menu .nav-item .menu-dropdown-container {
        margin-right: 12px;
        padding: 0
    }

    .header-menu .nav-item .menu-item-link,
    .header-menu .nav-item .menu-item-link:hover {
        position: relative;
        color: rgba(0, 0, 0, .87);
        padding: 14px 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .25px
    }

    .header-menu .nav-item .menu-item-link:hover:after {
        content: "";
        position: absolute;
        top: 0;
        left: -2px;
        height: 48px;
        border-left: 4px solid #099a71
    }

    .header-menu .nav-item .menu-item-link {
        margin-left: 24px;
        border-left: 2px solid #e0f3ed
    }

    .header-menu .nav-item-dropdown .nav-item-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative
    }    
}

@media (max-width:768.98px) {
    .header-online-bank {
        order: 2;
        margin-left: 0
    }

    .header-online-bank button {
        // display: none;
        visibility: hidden;
    }

    .header-online-bank a{
        position: relative;
        bottom: 20px;
    }

}

@media (max-width:768.98px) {
    .header-logo {
        margin: 0;
        order: 1
    }

    .header-logo img {
        height: 36px
    }
}

// @media (max-width: 768.98px){
//     .for-more {
//         display: block;
//     }
// }