.header-menu {
    margin-top: 1%;
}

.header-menu .menu-dropdown {
    border-top: 1px solid #edefed;
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -10;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-delay: .05s
}

.header-menu .menu-dropdown-container {
    border-bottom: 1px solid #edefed;
    margin: 0 0 0 182px
}

.header-menu .menu-item-link {
    display: block;
    color: rgba(0, 0, 0, .38);
    padding: 16px;
    transition: all .3s cubic-bezier(.23, 1, .32, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: .15px
}

.header-menu .menu-item-link:hover {
    color: rgba(0, 0, 0, .6)
}

.header-menu .nav-item:hover .menu-dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 10
}

.for-more {
    display: none;
}