#footer-copyright {
    padding: 24px 0;
    border-top: 1px solid #edefed
}

@media (max-width:768.98px) {
    #footer-copyright {
        padding-top: 40px;
        padding-bottom: 40px;
        border: none
    }
}

@media (max-width:768.98px) {
    .copyright-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .copyright-container p:first-child {
        margin-bottom: 16px
    }
}