@media (max-width:768.98px) {
    #footer-list {
        display: none;
        padding-top: 0
    }
}

@media (max-width:768.98px) {
    .footer-list-columns > li p {
        margin-top: 24px;
        padding: 8px 0
    }
}

@media (max-width:768.98px) {
    .footer-list-link {
        padding: 10px 0
    }
}

@media (max-width:768.98px) {
    .footer-list-social-networks a:first-child {
        padding-left: 0
    }
}

@media (max-width:768.98px) {
    .footer-list-social-networks {
        margin-top: 12px
    }
}

@media (max-width:768.98px) {
    .footer-list-columns {
        margin-top: 0
    }
}