#acc-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4e5251;
    color: #fff;
    background-image: url(../../images/account-images/kob-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 456px;
    h3{
        margin-bottom: 90px;
        font-size: 40px;
    }
    .text-container{
        margin-bottom: 50px;
    }

}