#slide-account{
    background-image: url(../../images/account-images/accounts.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 75px;
    padding-top: 104px;
    padding-bottom: 52px;
    background-color: rgba(255, 192, 203, 0.345);
}
