.options {
    border-radius: 8px;
    background-color: #fff;
    min-width: 311px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 24px 24px 16px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .07);
    transition: all .3s cubic-bezier(.23, 1, .32, 1);
    margin-right: 24px
}

.options-container {
    .options{
        div{
            h6{
                color: #000000DE;
                font-size: 20px;
                margin-bottom: 20px;
            }

            .link{
                color: #099a71
            }
            .link:hover{
                color: #007d57
            }
        }
    }
}

.options:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .07), 0 0 10px rgba(0, 0, 0, .03)
}

.options:last-child {
    margin-right: 0
}

.options .link {
    margin-top: auto
}

.options-list {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 24px
}

.options-container {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap
}