@media (max-width:768.98px) {
    .options {
        padding: 16px 24px
    }
}

@media (max-width:575.98px) {
    .options {
        margin-right: 16px
    }
}

@media (max-width:768.98px) {
    .options-container {
        padding-right: 24px
    }
}

@media (max-width:575.98px) {
    .options-container {
        padding-right: 16px
    }
}